.SvgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.SvgContainer.accent .Svg {
    color: var(--tg-theme-button-color, #3390ec);
}

.SvgContainer.subtitle .Svg {
    color: var(--tg-theme-subtitle-text-color,#707579);
}
