.SvgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.SvgContainer.accent .Svg {
    color: var(--tg-theme-button-color, red);
}

.SvgContainer.subtitle .Svg {
    color: var(--tg-theme-subtitle-text-color);
}
