button {
    border-radius: 5px;
    background: #5199d9;
    color: white;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border: none;
    min-width: 100px;
    max-width: fit-content;
    padding: 10px 5px;

    cursor: pointer;

    &:disabled {
        background: gainsboro;
        pointer-events: none;
        cursor: auto;
    }
}



.response,.error {
    position: absolute;
    bottom: 115%;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.response,.error {
 color:green
}
.error {
    color:red
}
