.img_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(var(--tg-viewport-height) / 2 );
    overflow: hidden;
    position: relative;
}
.img_box.hide {
    opacity: 0;
}

.img {
    position: absolute;

    min-width: 100%;
    min-height: 100%;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);

}
